<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/blue_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,620},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>menu/blue_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,725},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>menu/blue_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,767},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>menu/blue_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,884},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>menu/buttonCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,767},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>menu/buttonCredits.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,916},{329,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,86}</string>
			</dict>
			<key>menu/buttonCreditsPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,794},{329,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,86}</string>
			</dict>
			<key>menu/buttonOptions.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,456},{329,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,86}</string>
			</dict>
			<key>menu/buttonOptionsPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,546},{329,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{329,86}</string>
			</dict>
			<key>menu/buttonPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,656},{326,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,134}</string>
			</dict>
			<key>menu/buttonPlayPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,884},{326,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,134}</string>
			</dict>
			<key>menu/grey_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,725},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>menu/menuPanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,2},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
			<key>menu/slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1016},{250,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,4}</string>
			</dict>
			<key>menu/sliderBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1006},{255,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,6}</string>
			</dict>
			<key>button/blockPanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,456},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>button/buttonPanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,841},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>button/holdButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,673},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>button/holdButtonPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,874},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>button/normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,636},{130,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,100}</string>
			</dict>
			<key>button/pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,770},{130,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,100}</string>
			</dict>
			<key>button/rotateButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,757},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>button/rotateButtonPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,673},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>button/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,958},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,656},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>blockBlueJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,807},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockCyanI.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,843},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockEmpty.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,879},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockGhost.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,915},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockGreenS.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,951},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockOrangeL.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,987},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockPurpleT.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockRedZ.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blockYellowO.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,2},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>blue_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{330,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,650}</string>
			</dict>
			<key>button/disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,958},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>button/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,757},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>button/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,673},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spriteSheet.png</string>
			<key>realTextureFileName</key>
			<string>spriteSheet.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>